button {
 padding: 10 px 20 px;
 font-size: 1.5em;
 color: whitesmoke;
 background-color: pink;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.25s;
}
#container{
text-align: center;
}

#countLabel{
	display: block;
	text-align: center;
	font-size: 10em;
	font-family: Helvetica;
}
button:hover{
	background-color: deeppink;
}